{% extends "base.html" %}

{% block content %}
<h1>DB Visual</h1>

<table border="1">
    <thead>
        <tr>
            <th>ID</th>
            <th>Name</th>
            <th>Email</th>
            <th>Password (Encrypted)</th>
        </tr>
    </thead>
    <tbody>
        {% for user in users %}
        <tr>
            <td>{{ user._id }}</td>
            <td>{{ user.name }}</td>
            <td>{{ user.email }}</td>
            <td>{{ user.password }}</td>  
        </tr>
        {% endfor %}
    </tbody>
</table>
  
{% endblock %}
